In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

x_series = list(np.arange(0, 187))

currentDir = os.getcwd()

df = pd.read_csv("ptbdb_abnormal.csv", header=None)
df2 = pd.read_csv("ptbdb_normal.csv", header=None)

In [2]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
10501,0.981409,1.000000,0.559171,0.287093,0.196639,0.204862,0.215946,0.243833,0.242760,0.250268,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10502,0.906250,0.922379,0.878024,0.810484,0.712702,0.667339,0.608871,0.527218,0.480847,0.442540,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10503,1.000000,0.867971,0.674122,0.470332,0.296987,0.169307,0.077664,0.081392,0.074868,0.089779,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10504,1.000000,0.984672,0.658888,0.556394,0.446809,0.395790,0.315260,0.276367,0.261039,0.258522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10505,0.997886,0.700317,0.464059,0.318182,0.233615,0.184989,0.124207,0.082981,0.087738,0.063953,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [3]:
df2.tail()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
4041,1.000000,0.929586,0.503550,0.293491,0.169822,0.159763,0.130769,0.125444,0.137278,0.111243,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4042,1.000000,0.637579,0.154837,0.061983,0.088965,0.083374,0.065143,0.057365,0.060039,0.060039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4043,1.000000,0.872574,0.465071,0.232212,0.126132,0.155886,0.174644,0.190168,0.203752,0.168823,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4044,0.915983,0.529373,0.288406,0.144536,0.171802,0.180669,0.177566,0.176458,0.178896,0.180448,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4045,1.000000,0.838643,0.390567,0.191146,0.033513,0.055854,0.129086,0.147290,0.155151,0.165494,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
len(df)

10506

In [5]:
len(df2)

4046

In [6]:
df_key = df.pop(df.columns.values[-1])
df2_key = df2.pop(df2.columns.values[-1])

In [7]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,177,178,179,180,181,182,183,184,185,186
10501,0.981409,1.000000,0.559171,0.287093,0.196639,0.204862,0.215946,0.243833,0.242760,0.250268,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10502,0.906250,0.922379,0.878024,0.810484,0.712702,0.667339,0.608871,0.527218,0.480847,0.442540,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10503,1.000000,0.867971,0.674122,0.470332,0.296987,0.169307,0.077664,0.081392,0.074868,0.089779,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10504,1.000000,0.984672,0.658888,0.556394,0.446809,0.395790,0.315260,0.276367,0.261039,0.258522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10505,0.997886,0.700317,0.464059,0.318182,0.233615,0.184989,0.124207,0.082981,0.087738,0.063953,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df2.tail()

,0,1,2,3,4,5,6,7,8,9,...,177,178,179,180,181,182,183,184,185,186
4041,1.000000,0.929586,0.503550,0.293491,0.169822,0.159763,0.130769,0.125444,0.137278,0.111243,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4042,1.000000,0.637579,0.154837,0.061983,0.088965,0.083374,0.065143,0.057365,0.060039,0.060039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4043,1.000000,0.872574,0.465071,0.232212,0.126132,0.155886,0.174644,0.190168,0.203752,0.168823,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4044,0.915983,0.529373,0.288406,0.144536,0.171802,0.180669,0.177566,0.176458,0.178896,0.180448,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4045,1.000000,0.838643,0.390567,0.191146,0.033513,0.055854,0.129086,0.147290,0.155151,0.165494,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df_key

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
10501    1.0
10502    1.0
10503    1.0
10504    1.0
10505    1.0
Name: 187, Length: 10506, dtype: float64

In [10]:
df2_key

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4041    0.0
4042    0.0
4043    0.0
4044    0.0
4045    0.0
Name: 187, Length: 4046, dtype: float64

In [11]:
for x in range (0, len(df)-1):
    row = df.iloc[x]
    num = str(int(df_key[x]))
    plt.plot(x_series, row, color='black')
    plt.grid(False)
    plt.savefig(currentDir + '\ptbdb\\' + num + '\img' + str(x) + '.png', dpi='figure', metadata=None, bbox_inches='tight', pad_inches=0, facecolor='white', edgecolor='white', backend=None)
    plt.clf()

In [12]:
for x in range (0, len(df2)-1):
    row = df2.iloc[x]
    num = str(int(df2_key[x]))
    plt.plot(x_series, row, color='black')
    plt.grid(False)
    plt.savefig(currentDir + '\ptbdb\\' + num + '\img' + str(x) + '.png', dpi='figure', metadata=None, bbox_inches='tight', pad_inches=0, facecolor='white', edgecolor='white', backend=None)
    plt.clf()